.navbar {
  color: #000000;
  background-color: #800080;
}

table, th, td {
  border: 2px solid;
  border-color: #DDDDDD;
} 

tr:nth-child(even), th {
  background-color: #DFC5FE;
}

h1 {
  text-align: center;
}

  